body{
	background: url("fondo.jpg");

}

#mensaje{
	position: absolute;
	background-color: rgba(179, 119, 227,0.8);
	width: 80%;
	height: 50%;
	margin-top: 5%;
	margin-left: 10%;
	border: 5px solid #3B244C;
	font-family: verdana;
	font-size: 1000%;
	text-align: center;
	padding-top: 10%;

}

#boton{
	list-style: none;
	color: red;
	position: absolute;
	margin-left: 84%;
	background-color: white;
	font-size: 150%;
	text-decoration: none;
	text-align: center;
	font-family: cursive;	
	width: 15%;

}

#boton:hover{
	font-size: 155%;
}